/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --header-color: #DB00FF;
    --header-sh-color: var(--accent-color);
    --title-color: #000028;
    --decor-color: var(--accent-color);
    --decor-hover: #FF007066;
    --background-img: url("../images/cover-image-dark.png");
    --display-bulb: block;
  }

