.page.theme_light {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-color: #FFC2E6;
  --title-color: var(--text-color);
  --decor-color: var(--text-color);
  --decor-hover: #32312D66;
  --background-img: url("../images/cover-image-light.png");
  --display-bulb: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-color: #FFC2E6;
  --title-color: var(--text-color);
  --decor-color: var(--text-color);
  --decor-hover: #32312D66;
  --background-img: url("../images/cover-image-light.png");
  --display-bulb: none;
  }
}