.page {
    font-family: 'IBM Plex mono', monospace;
    font-size: 18px;
    text-align: left;
    line-height: 23.4px;
    font-weight: 400;
    color: var(--text-color);
    background-position: center;
    background-image: var(--background-img);
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    inline-size: 100%;
    block-size: 100vh;
    min-block-size: 668px;
}

.header {
    block-size: 100vh;
    inline-size: 100%;
}

.decorated-zone {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100%;
    inline-size: 100%;
}

.decorated-zone::before {
    content: '';
    position: absolute;
    inset-inline-end: 1ch;
    border-block-start: 1px solid var(--decor-color);
    border-inline-end: 1px solid var(--decor-color);
    inline-size: 25px;
    block-size: 25px;
    inset-block-start: var(--decor-pad);
    inset-inline-end: var(--decor-pad);
}

.decorated-zone::after {
    content: '';
    position: absolute;
    border-block-end: 1px solid var(--decor-color);
    border-inline-start: 1px solid var(--decor-color);
    inline-size: 25px;
    block-size: 25px;
    inset-block-end: var(--decor-pad);
    inset-inline-start: var(--decor-pad);
}

.header__rec-bulb {
    display: var(--display-bulb);
    position: absolute;
    color: var(--accent-color);
    inset-block-start: var(--decor-pad);
    inset-inline-end: calc(var(--decor-pad) + 29px);
    font-size: 18px;
    z-index: 2;
    text-transform: uppercase;
}

.header__rec-bulb::after {
    content: '';
    position: absolute;
    inline-size: 10px;
    block-size: 10px;
    border: solid var(--accent-color);
    border-radius: 50%;
    right: -20px;
    top: 5px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
    background-color: var(--accent-color);
    z-index: 2;
}

.header__theme-menu {
    justify-self: self-end;
    margin-inline-end: var(--menu-right);
    margin-block-start: var(--menu-top);
    justify-self: var(--menu-just);
    align-self: var(--menu-align);
}

.header__theme-menu-list {
    display: grid;
    gap: var(--menu-gap);
    grid-template-columns: var(--menu-columns);

}

.header__theme-menu-item {
    text-align: center;
    inline-size: 4.3rem;
}

.header__theme-menu-button {
    background-color: transparent;
    border-style: none;
    color: var(--menu-color);
    text-transform: lowercase;
    inline-size: 100%;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--decor-hover);
    cursor: pointer;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
    outline: 1px solid currentColor;
    outline-offset: 1px;
    pointer-events: none;

}

.logo-decor {
    color: var(--logo-color);
    font-size: var(--logo-size);
    text-shadow: 4px 4px 0 var(--logo-sh-color);
    line-height: var(--logo-line-h);
    margin: calc(-1 * var(--logo-start)) var(--logo-start);
    justify-self: var(--logo-justify-self);
}

.header__text {
    justify-self: var(--header-text-just);
    margin: 0 var(--decor-pad);
    inline-size: var(--header-text-w);
    margin-inline-end: var(--decor-pad);
}

.title-decor {
    color: var(--title-color);
    background-color: var(--accent-color);
    inline-size: 100%;
    font-weight: 700;
}
.header__text .title-decor {
    margin: 0;
}
.cards {
    display: grid;
    gap: calc(var(--card-marg) + var(--decor-pad));
    margin: var(--card-marg)  var(--decor-pad);
}

.accent-link {
    text-shadow: 1px 1px 0 var(--accent-color);
}

.accent-link:hover {
    border-block-end: 1px solid currentColor;
}

.accent-link:focus-visible {
     outline: 1px solid currentColor;
    
}

.card {
    display: grid;
    gap: 20px;
    grid-template-columns: var( --card-columns);
}

.section-causes {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.section-advices .list .card__part .title-decor {
    font-weight: 400;
}
.list {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
}

.section-causes .list{
    grid-template-columns: var(--cause-list-columns);
}

.card__title-decor {
    color: var(--decor-color);
    inline-size: var(--card-title-w);
}

.card__part {
    display: grid;
    grid-template-rows: min-content;
    gap: 0;
}

.card__part .title-decor{
    margin-block-start: 0;
}

.gallery {
    display: grid;
    gap: 10px;
  }

.container-img {
    position: relative;
    display: flex;
}

.img {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
   }

@media ( width >= 768px){
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 20px;
    }

    .container-img:has(.title-decor) {
        grid-column:  span 3;
    }
  
    .img-sunset {
        grid-column: span 2;
    }
  
    .img-ice-cream {
        grid-row: span 2;
    }
  
    .img-tape {
        grid-row: span 2;
    }

    .img-street {
        grid-column: span 2;
    } 
}

.footer {
    block-size: 100vh;
    inline-size: 100%;
    padding: var(--decor-pad)
}

.footer.decorated-zone {
    grid-template-rows: 1fr;
    justify-content: center;
}

.footer .logo-decor {
    text-shadow: 2px 2px 0 var(--logo-sh-color);
}